html,body,#app {
  width: 100%;
  height: 100%;
  position: relative;
}
.cd {
  cursor: default;
}
.cp {
  cursor: pointer;
}
@font-face {
  font-family: 'unidreamledregular';
  src: url('../assert/font/unidreamled-webfont.eot');
  src: url('../assert/font/unidreamled-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assert/font/unidreamled-webfont.woff2') format('woff2'),
  url('../assert/font/unidreamled-webfont.woff') format('woff'),
  url('../assert/font/unidreamled-webfont.ttf') format('truetype'),
  url('../assert/font/unidreamled-webfont.svg#unidreamledregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
/*地图点*/
.the-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 20px;
  background: -webkit-radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* Firefox 3.6 - 15 */
  background: radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* 标准的语法（必须放在最后） */

}
.info-div {
  width: 150px;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  position: absolute;
  left: -50px;
  top: -120px;
  display: none;
  transition: all .3s;
  border: 1px solid #278bdb;
  background-color: rgba(47, 165, 255, 0.5);
}
.the-point:hover .info-div {
  display: block;
}
/*渐变圆*/
.grad {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  /*background: -webkit-radial-gradient(red 1%, yellow 60%, rgba(114,224,118,0.5) 90%); !* Safari 5.1 - 6.0 *!*/
  /*background: -o-radial-gradient(red 1%, yellow 60%, rgba(114,224,118,0.5) 90%); !* Opera 11.6 - 12.0 *!*/
  /*background: -moz-radial-gradient(red 1%, yellow 60%, rgba(114,224,118,0.5) 90%); !* Firefox 3.6 - 15 *!*/
  /*background: radial-gradient(red 1%, yellow 60%, rgba(114,224,118,0.5) 90%); !* 标准的语法（必须放在最后） *!*/
  background: -webkit-radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* Firefox 3.6 - 15 */
  background: radial-gradient(red 1%, rgba(255,255,0,0.6) 60%, rgba(114,224,118,0.5) 90%); /* 标准的语法（必须放在最后） */
}
.hinge-hover {
  width: 150px;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  position: absolute;
  z-index: 1000;
  left: -50px;
  top: -100px;
  display: none;
  transition: all .3s;
  border: 1px solid #278bdb;
  background-color: rgba(47, 165, 255, 0.5);
}
.hinge-point {
  width: 38px;
  height: 53px;
  position: relative;
  /*background-color: #000000;*/
}
.hinge-point:hover .hinge-hover {
  display: block;
}
.hinge-point img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hinge-name {
  font-size: 16px;
  color: #dadada;
  position: absolute;
  top: -15px;
  left: -10px;
  width: 200px;
}
